{
	"extends": [
		"react-app",
		"react-app/jest",
		"airbnb-base"
	],
  "rules": {
    "no-underscore-dangle":  ["off", { "allow": ["id"] }],
		"quotes": ["error", "single"],
		"jsx-quotes": ["error", "prefer-double"]
  }
}